In [0]:
import pandas as pd

In [27]:
!ls

Popular_Baby_Names.csv	sample_data

In [28]:
df=pd.read_csv('Popular_Baby_Names.csv')
df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [29]:
df.tail()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
19413,2011,MALE,WHITE NON HISPANIC,STEPHEN,10,97
19414,2011,MALE,WHITE NON HISPANIC,STEPHEN,10,97
19415,2011,MALE,WHITE NON HISPANIC,DEREK,10,97
19416,2011,MALE,WHITE NON HISPANIC,BENNETT,10,97
19417,2011,MALE,WHITE NON HISPANIC,ELLIS,10,97

In [30]:
pd.options.display.max_rows = 3000
pd.options.display.max_columns = 50
df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [31]:
list(df)

['Year of Birth', 'Gender', 'Ethnicity', "Child's First Name", 'Count', 'Rank']

In [32]:
ethnicity=df.groupby('Ethnicity')
ethnicity.describe()

                           Year of Birth                                 \
                                   count         mean       std     min
Ethnicity
ASIAN AND PACI                     693.0  2012.000000  0.000000  2012.0
ASIAN AND PACIFIC ISLANDER        2693.0  2013.497215  1.652953  2011.0
BLACK NON HISP                     681.0  2012.000000  0.000000  2012.0
BLACK NON HISPANIC                2826.0  2013.324133  1.682086  2011.0
HISPANIC                          5714.0  2013.068428  1.604641  2011.0
WHITE NON HISP                    1338.0  2012.000000  0.000000  2012.0
WHITE NON HISPANIC                5473.0  2013.453134  1.661628  2011.0

                                                             Count             \
                               25%     50%     75%     max   count       mean
Ethnicity
ASIAN AND PACI              2012.0  2012.0  2012.0  2012.0   693.0  28.116883
ASIAN AND PACIFIC ISLANDER  2013.0  2014.0  2015.0  2016.0  2693.0  25.506870
BLACK NON HISP              2012.0  2012.0  2012.0  2012.0   681.0  27.914831
BLACK NON HISPANIC          2011.0  2013.0  2015.0  2016.0  2826.0  26.829795
HISPANIC                    2012.0  2013.0  2014.0  2016.0  5714.0  37.927196
WHITE NON HISP              2012.0  2012.0  2012.0  2012.0  1338.0  37.727205
WHITE NON HISPANIC          2013.0  2014.0  2015.0  2016.0  5473.0  36.669468

                                                                        Rank  \
                                  std   min   25%   50%   75%    max   count
Ethnicity
ASIAN AND PACI              27.066166  10.0  13.0  18.0  32.0  197.0   693.0
ASIAN AND PACIFIC ISLANDER  22.738280  10.0  13.0  18.0  28.0  220.0  2693.0
BLACK NON HISP              23.081921  10.0  14.0  19.0  33.0  171.0   681.0
BLACK NON HISPANIC          23.076319  10.0  13.0  18.0  32.0  184.0  2826.0
HISPANIC                    45.979454  10.0  13.0  20.0  41.0  426.0  5714.0
WHITE NON HISP              43.548127  10.0  13.0  21.0  40.0  300.0  1338.0
WHITE NON HISPANIC          41.643224  10.0  13.0  21.0  39.0  304.0  5473.0


                                 mean        std  min   25%   50%   75%    max
Ethnicity
ASIAN AND PACI              38.884560  14.922960  1.0  31.0  40.0  50.0   61.0
ASIAN AND PACIFIC ISLANDER  36.243966  13.805682  1.0  27.0  38.0  47.0   59.0
BLACK NON HISP              39.320117  15.341898  1.0  29.0  42.0  53.0   61.0
BLACK NON HISPANIC          38.846072  15.963188  1.0  28.0  40.0  53.0   64.0
HISPANIC                    66.322016  23.386678  1.0  55.0  72.0  83.0  100.0
WHITE NON HISP              67.852018  22.488835  1.0  57.0  76.0  83.0   94.0
WHITE NON HISPANIC          70.458798  23.300482  1.0  60.0  77.0  85.0  102.0

In [33]:
gender_and_ethnicity=df.groupby(['Gender', 'Ethnicity'])
gender_and_ethnicity.describe()

                                  Year of Birth                         \
                                          count         mean       std
Gender Ethnicity
FEMALE ASIAN AND PACI                     350.0  2012.000000  0.000000
       ASIAN AND PACIFIC ISLANDER        1343.0  2013.474311  1.651641
       BLACK NON HISP                     330.0  2012.000000  0.000000
       BLACK NON HISPANIC                1400.0  2013.357857  1.674284
       HISPANIC                          2937.0  2013.057882  1.609551
       WHITE NON HISP                     712.0  2012.000000  0.000000
       WHITE NON HISPANIC                2861.0  2013.454387  1.657711
MALE   ASIAN AND PACI                     343.0  2012.000000  0.000000
       ASIAN AND PACIFIC ISLANDER        1350.0  2013.520000  1.654555
       BLACK NON HISP                     351.0  2012.000000  0.000000
       BLACK NON HISPANIC                1426.0  2013.291024  1.689643
       HISPANIC                          2777.0  2013.079582  1.599646
       WHITE NON HISP                     626.0  2012.000000  0.000000
       WHITE NON HISPANIC                2612.0  2013.451761  1.666224

                                                                           \
                                      min     25%     50%     75%     max
Gender Ethnicity
FEMALE ASIAN AND PACI              2012.0  2012.0  2012.0  2012.0  2012.0
       ASIAN AND PACIFIC ISLANDER  2011.0  2013.0  2014.0  2015.0  2016.0
       BLACK NON HISP              2012.0  2012.0  2012.0  2012.0  2012.0
       BLACK NON HISPANIC          2011.0  2011.0  2013.5  2015.0  2016.0
       HISPANIC                    2011.0  2012.0  2013.0  2014.0  2016.0
       WHITE NON HISP              2012.0  2012.0  2012.0  2012.0  2012.0
       WHITE NON HISPANIC          2011.0  2013.0  2014.0  2015.0  2016.0
MALE   ASIAN AND PACI              2012.0  2012.0  2012.0  2012.0  2012.0
       ASIAN AND PACIFIC ISLANDER  2011.0  2013.0  2014.0  2015.0  2016.0
       BLACK NON HISP              2012.0  2012.0  2012.0  2012.0  2012.0
       BLACK NON HISPANIC          2011.0  2011.0  2013.0  2014.0  2016.0
       HISPANIC                    2011.0  2012.0  2013.0  2014.0  2016.0
       WHITE NON HISP              2012.0  2012.0  2012.0  2012.0  2012.0
       WHITE NON HISPANIC          2011.0  2013.0  2014.0  2015.0  2016.0

                                    Count                                    \
                                    count       mean        std   min   25%
Gender Ethnicity
FEMALE ASIAN AND PACI               350.0  24.028571  21.391273  10.0  13.0
       ASIAN AND PACIFIC ISLANDER  1343.0  22.085629  17.143889  10.0  12.0
       BLACK NON HISP               330.0  24.048485  15.425399  10.0  14.0
       BLACK NON HISPANIC          1400.0  23.019286  15.834393  10.0  13.0
       HISPANIC                    2937.0  31.266599  34.976385  10.0  13.0
       WHITE NON HISP               712.0  32.803371  35.969366  10.0  13.0
       WHITE NON HISPANIC          2861.0  32.564488  35.496604  10.0  13.0
MALE   ASIAN AND PACI               343.0  32.288630  31.317392  10.0  13.5
       ASIAN AND PACIFIC ISLANDER  1350.0  28.910370  26.760533  10.0  14.0
       BLACK NON HISP               351.0  31.549858  28.001677  10.0  14.0
       BLACK NON HISPANIC          1426.0  30.570827  27.951152  10.0  13.0
       HISPANIC                    2777.0  44.971552  54.409539  10.0  14.0
       WHITE NON HISP               626.0  43.327476  50.259421  10.0  14.0
       WHITE NON HISPANIC          2612.0  41.165773  47.069101  10.0  14.0

                                                        Rank             \
                                    50%   75%    max   count       mean
Gender Ethnicity
FEMALE ASIAN AND PACI              18.0  26.0  172.0   350.0  33.480000
       ASIAN AND PACIFIC ISLANDER  17.0  25.0  188.0  1343.0  30.436337
       BLACK NON HISP              20.0  30.0  159.0   330.0  34.309091
       BLACK NON HISPANIC          18.0  28.0  176.0  1400.0  31.927857
       HISPANIC                    19.0  34.0  331.0  2937.0  60.453864
       WHITE NON HISP              19.0  37.0  228.0   712.0  65.405899
       WHITE NON HISPANIC          20.0  35.0  248.0  2861.0  65.494582
MALE   ASIAN AND PACI              20.0  37.5  197.0   343.0  44.399417
       ASIAN AND PACIFIC ISLANDER  20.0  33.0  220.0  1350.0  42.021481
       BLACK NON HISP              19.0  42.5  171.0   351.0  44.031339
       BLACK NON HISPANIC          19.0  37.0  184.0  1426.0  45.638149
       HISPANIC                    22.0  51.0  426.0  2777.0  72.528268
       WHITE NON HISP              24.0  47.0  300.0   626.0  70.634185
       WHITE NON HISPANIC          24.0  45.0  304.0  2612.0  75.896248


                                         std  min   25%   50%   75%    max
Gender Ethnicity
FEMALE ASIAN AND PACI              11.069119  1.0  29.0  37.0  42.0   45.0
       ASIAN AND PACIFIC ISLANDER   9.799263  1.0  25.0  33.0  38.0   43.0
       BLACK NON HISP              11.328002  1.0  28.0  37.0  43.0   47.0
       BLACK NON HISPANIC          11.299032  1.0  25.0  35.0  41.0   47.0
       HISPANIC                    19.017148  1.0  52.0  68.0  74.0   81.0
       WHITE NON HISP              19.837302  1.0  56.0  74.0  80.0   83.0
       WHITE NON HISPANIC          20.125143  1.0  58.0  73.0  80.0   86.0
MALE   ASIAN AND PACI              16.284054  1.0  35.5  51.0  57.5   61.0
       ASIAN AND PACIFIC ISLANDER  14.759259  1.0  34.0  47.0  53.0   59.0
       BLACK NON HISP              17.051071  1.0  31.5  52.0  57.0   61.0
       BLACK NON HISPANIC          16.930763  1.0  35.0  52.0  59.0   64.0
       HISPANIC                    25.848288  1.0  58.0  84.0  92.0  100.0
       WHITE NON HISP              24.892962  1.0  59.0  80.0  90.0   94.0
       WHITE NON HISPANIC          25.250373  1.0  65.0  85.0  95.0  102.0

In [0]:
import datetime

In [35]:
df.reset_index().head()

,index,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [36]:
df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [37]:
list(df)

['Year of Birth', 'Gender', 'Ethnicity', "Child's First Name", 'Count', 'Rank']

In [0]:
df['Year of Birth']=pd.to_datetime(df['Year of Birth'],format='%Y-%m-%d %H:%M:%S')

In [40]:
df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [0]:
df = df.set_index('Year of Birth')

In [42]:
df.head()

,Gender,Ethnicity,Child's First Name,Count,Rank
Year of Birth,,,,,
1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
1970-01-01 00:00:00.000002016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4

In [43]:
import numpy as np

periods = df.resample('M').count() # let's group by month 
periods

               Gender  Ethnicity  Child's First Name  Count   Rank
Year of Birth
1970-01-31      19418      19418               19418  19418  19418

In [0]:
start_date = '2016-10-31' # set an arbitray start date
end_date = '2018-06-30' # set an arbitray end date

mask = (df.index > start_date) & (df.index <= end_date) # create our mask

Empty DataFrame
Columns: [Gender, Ethnicity, Child's First Name, Count, Rank]
Index: []